.center-text {
    position: absolute;
    left: 300px;
    top: 50px;
    width: 1000px;
}

body {
    color: #514655;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

h1 {
    color: #275a46;
}

a {
    color: #67596b;
    text-decoration: none;
}