.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: rgba(76, 158, 159, 0.43);
    color: rgba(10, 21, 21, 0.35);
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #528586;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.vertical-menu form {
    background-color: rgba(76, 158, 159, 0.43);
}