.topnav {
    background-color: rgba(67, 180, 151, 0.78);
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgba(30, 115, 53, 0.64);
}

.active {
    background-color: rgba(76, 158, 159, 0.43);
    color: white;
}

.topnav .icon {
    display: none;
}