{% extends 'layout_base.html' %}
{% block content %}
    <h1>Szótár</h1>
    <a href="/uj-szo"><button style="border-radius: 4px; padding: 10px; color: #ededed; background-color: #3eb484">Új kifejezés</button></a>
    <p>
       <table id="dictionary">
            <tr>
                <th>
                    Szerkesztés
                </th>
                <th>
                    Magyar
                </th>
                <th>
                    Angol
                </th>
                <th>
                    Jelentés
                </th>
            </tr>
                {% for data in dictionary %}
            <tr>
                <td>
                    <a href="/szotar/{{ data.dictionary_id}}/torles"><img style="width: 35px" align="center" onclick="confirm('Biztos törölni akarod?')" src="http://icons.iconarchive.com/icons/martz90/circle/512/trash-icon.png"></a>
                    <a href="/szotar/{{ data.dictionary_id}}/szerkesztes"><img style="width: 35px" align="center" src="http://www.athletesnest.com/Kendo/Browsers/Images/Image?path=edit%20icon%20green.png"></a>
                </td>
                <td>
                    {{ data.hungarian_word }}
                </td>
                <td>
                    {{ data.english_word }}
                </td>
                <td>
                    {{ data.meaning }}
                </td>
            </tr>
                {% endfor %}
        </table>
    </p>
{% endblock %}