{% extends 'layout_base.html' %}
{% block content %}
    <h1>Szótár</h1>
    <a href="/uj-szo"><button type="button" class="btn btn-light">Új kifejezés</button></a>
    <p>
       <table id="dictionary">
            <tr>
                <th>
                    Szerkesztés
                </th>
                <th>
                    Magyar
                </th>
                <th>
                    Angol
                </th>
                <th>
                    Jelentés
                </th>
            </tr>
                {% for data in dictionary %}
            <tr>
                <td>
                    <a href="/szotar/{{ data.dictionary_id}}/torles" onclick="confirm('Biztos, hogy törölni szeretnéd?')"><i class="fas fa-trash-alt"></i></a>
                    <a href="/szotar/{{ data.dictionary_id}}/szerkesztes"><i class="fas fa-pen-square"></i></a>
                </td>
                <td>
                    {{ data.hungarian_word }}
                </td>
                <td>
                    {{ data.english_word }}
                </td>
                <td>
                    {{ data.meaning }}
                </td>
            </tr>
                {% endfor %}
        </table>
    </p>
{% endblock %}