<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szótár</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/sidenav.css">
    <link rel="stylesheet" href="/static/css/topnav.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">#canvas2.0</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Főoldal<span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/uj-cikk">Új tananyag írása</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/kedvencek">Kedvenc tételek</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/szotar">Szótár</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ismetles">Ismétlő kérdések</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="vertical-menu">
            <form action="/talalat">
             <input onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }" class="form-control mr-sm-2" type="text" name="search" placeholder="Keresés">
            </form>
            <a href="/tananyag/python">Python</a>
            <a href="/tananyag/flask-jinja">Flask & Jinja</a>
            <a href="/tananyag/javascript">Javascript</a>
            <a href="/tananyag/sql">SQL</a>
            <a href="/tananyag/html">HTML</a>
            <a href="/tananyag/css">CSS</a>
            <a href="/tananyag/git">Git</a>
            <a href="/tananyag/egyeb">Egyéb</a>
        </div>
    <div class="center-text">
      <h1>Új kifejezés felvétele a szótárba</h1>
        <form action="" method="post">
            <input name="hungarian" rows="10" cols="50"
                      required placeholder="Magyar szó">
            <input name="english" rows="10" cols="50"
                      required placeholder="Angol szó">
            <input name="abbreviation" rows="10" cols="50"
                      placeholder="Rövidítés"><br>
            <textarea name="meaning" rows="10" cols="50"
                      placeholder="Jelentése" maxlength="500"></textarea><br><br>
            <input type="submit" value="Elküld"/>
            <input type="reset" value="Törlés"/>
        </form><br><br>
        <a href="/"><button type="button" class="btn btn-ligth">Főoldal</button></a>
    </div>
</body>
</html>