{% extends 'layout_base.html' %}
{% block content %}
    <h1>Kedvencnek jelölt tananyagok</h1>
    {% for fav in favs %}
    <ul style="list-style-type: circle">
        <li>
            <a href="/tananyag/{{ fav.topic_type}}/{{ fav.topic_id }}">{{ fav.title }}</a>
        </li>
    </ul>
    {% endfor %}
    {% for fav in favs_question %}
    <ul style="list-style-type: circle">
        <li>
            <a href="/ismetles/{{ fav.rehearsal_question_id}}">{{ fav.question_title }}</a>
        </li>
    </ul>
    {% endfor %}
{% endblock %}}