<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/sidenav.css">
    <link rel="stylesheet" href="/static/css/topnav.css">
</head>
<body>
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Főoldal</a>
  <a href="/kedvenc-tetel">Kedvenc tételek</a>
  <a href="/szotar">Szótár</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div class="vertical-menu">
  <a href="/python">Python</a>
  <a href="/javascript">Javascript</a>
  <a href="/sql">SQL</a>
  <a href="/html">HTML</a>
</div>

Welcome to the homepage.
</body>
</html>