<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lecke</title>
    <link rel="stylesheet" href="/static/css/sidenav.css">
    <link rel="stylesheet" href="/static/css/topnav.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Főoldal</a>
  <a href="/kedvenc-tetel">Kedvenc tételek</a>
  <a href="/szotar">Szótár</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div class="vertical-menu">
    <form action="/action_page.php">
      <input type="text" name="search" placeholder="Keresés"><br>
      <input type="submit" value="Elküld">
    </form>
    <a href="/uj-cikk"><button>Új tananyag írása</button></a>
  <a href="/tananyag/python">Python</a>
    <a href="/tananyag/flask-jinja">Flask & Jinja</a>
  <a href="/tananyag/javascript">Javascript</a>
  <a href="/tananyag/sql">SQL</a>
  <a href="/tananyag/html">HTML</a>
    <a href="/tananyag/css">CSS</a>
    <a href="/tananyag/git">Git</a>
</div>
<div class="center-text">
    {% for data in datas %}
        <h1>{{ data.title }}</h1>
        {{ data.body|safe }}
    {% endfor %}
</div>
</body>
</html>