{% extends 'layout_base.html' %}
{% block content %}
    <h1>Let's say together: It's not a bug, it's a feature!</h1>
    {% for data in datas %}
        <ul style="list-style-type: none">
            <li>
                {% if data.fav == 0 %}
                    <a href="/tananyag/{{data.topic_type}}/{{data.topic_id}}/kedvencnek-jeloles" onclick="confirm('Biztos, hogy a kedvencekhez adod?')"><i class="far fa-star"></i></a>
                {% else %}
                    <a href="/tananyag/{{data.topic_type}}/{{data.topic_id}}/kedvencnek-jeloles" onclick="confirm('Biztos, hogy törlöd a kedvencek közül?')"><i class="fas fa-star"></i></a>
                {% endif %}
                {% if data.learnt == 0 %}
                    <a href="/tananyag/{{data.topic_type}}/{{data.topic_id}}/megtanult"><i class="fas fa-circle"></i></a>
                {% else %}
                    <a href="/tananyag/{{data.topic_type}}/{{data.topic_id}}/megtanult"><i class="fas fa-check-circle"></i></a>
                {% endif %}
                <a href="/tananyag/{{data.topic_type}}/{{data.topic_id}}/tananyag-torlese" onclick="confirm('Biztos törlöd a tananyagot?')"><i class="fas fa-trash-alt"></i></a>
                <a href="{{data.topic_type}}/{{ data.topic_id }}">{{ data.title }}</a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}